<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>882622321213-feofcd1qlce14svfdomrhbbqv2f48f56.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.882622321213-feofcd1qlce14svfdomrhbbqv2f48f56</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>882622321213-hle0bqrib8bd73af7lli628brrfgf9j0.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDHv-LJam-uYmQfKTiLpT7kJeF1JhvAVDA</string>
	<key>GCM_SENDER_ID</key>
	<string>882622321213</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vikua.kargo</string>
	<key>PROJECT_ID</key>
	<string>kargo-81c8c</string>
	<key>STORAGE_BUCKET</key>
	<string>kargo-81c8c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:882622321213:ios:580b27eba9c4055d3c5054</string>
</dict>
</plist>